* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{ 
    background-color: #111111;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

#a-account{
    border: 1px solid #6c63ff;
    padding: 10px 20px;
}

#a-account:hover{
    background-color: #6c63ff;
    color: white;
    border: 1px solid #6c63ff;
    padding: 10px 20px;
    transition: 300ms;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color:#6c63ff;
}

main {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #ffffff;
    padding: 30px 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
}

.input-group {
    flex: 1;
    margin: 0 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000;
    outline: none;
}


.form-header{
    margin-bottom: 30px;
    margin-left: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.form-header button{
    background-color: #6c63ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-header a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.continue-button button{
    margin-top: 10px;
    margin-left: 20px;
    background-color: #6c63ff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: #5f58da;
    transition: 300ms;
}

.form-header button:hover{
    background-color: #5f58da;
    transition: 300ms;
}


.continue-button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


form input:hover{
    background-color: #0000002f;
}

.logo-image img{
    width: 60px;
    margin-left: 20px;
}

textarea{
    width: 90%;
    height: 50px;
    padding: 4px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000;
    outline: none;
}

#cod-funcionario{
    width: 42%;
}